<!DOCTYPE html>
<html>
<head>
  <title>XCash</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |kind, message| %>
    <%= content_tag(:div, message, class: "b-flash b-flash_#{kind}") %>
<% end %>

<%= yield %>

</body>
</html>
